.arrow {
    width: 20px;
}

.page-link {
    color: black;
}

.active {
    --bs-active-bg: #fff;
}

header {
    background-color: gray;
    height: 100px;
}

#logo {
    width: 50px;
    display: inline-block;
    
}

#websitename {
    display: inline-block;
}